.carousel-layout {
  position: relative;
  width: 100%;
}

.carousel-container {
  display: flex;
  gap: 24px;
  overflow: hidden;
  position: relative;
  flex: 1;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-inline: 20px;
  box-sizing: border-box;
}

.carousel-layout .nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 100;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.carousel-layout .nav-button.left {
  left: 0px;
}

.carousel-layout .nav-button.right {
  right: 0px;
}