.datepicker-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.datepicker-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.datepicker-input {
  padding: 8px;
  font-size: 16px;
}

.datepicker-close {
  padding: 8px 12px;
  background: #299159;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
