.reviewCard {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
  gap: 20px;
  width:100%;
  align-items: center;
}

.left {
  flex: 1;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.profileCircle {
  width: 40px;       /* 프로필 원 크기 */
  height: 40px;
  border-radius: 50%; 
  overflow: hidden;  
  background: #eee;
}

.profileCircle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.userText {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 600;
}

.date {
  font-size: 13px;
  color: gray;
}

.title {
  margin: 6px 0;
  font-size: 17px;
  font-weight: 600;
}

.preview {
  font-size: 14px;
  color: #444;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 보이게 할 줄 수 */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 850px;
}

.right {
  display: flex;
  align-items: center;
}

.bookImg {
  width: 80px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
