.footer {
  width: 100%;
  padding-inline:30px;
  padding-bottom: 20px;
  background-color: #fff;
  color: #555;
  font-family: Pretendard, sans-serif;
}

.footer--transparent{
  position: relative;
  background: url("../../../assets/home_img.png");
  background-size: cover;
  background-position: top;
}

.footer--transparent::before{
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.4);
  inset: 0;
  z-index: 1;
}

.footer > * {
  position: relative;
  z-index: 2;
}

.footer-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
  padding-top: 12px;
}



.footer-logo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.footer-logo-img {
  width: 28px;
  height: 28px;
}

.footer-logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #299159;
}
.footer-text--tranparent{
  color: white;
}

.footer-project p {
  margin: 2px 0;
  font-size: 14px;
  color: #666;
}

.footer-project--transparent p{
  color: white;
}

.github-icon {
  color: #333;
  margin-top: 4px;
  display: inline-block;
}

.github-icon--transparent{
  color: white;
}

.github-icon:hover {
  color: #299159;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  
  gap: 40px;
}

.footer-links {
  display: flex;
  gap: 20px;
}


.footer-links a {
  text-decoration: none;
  color: #333;
}

.footer-links--transparent a{
  color: white;
}


.footer-links a:hover {
  color: #299159;
}

.footer-copy {
  color: #aaa;
}
