.footer {
  width: 100%;
  padding-inline:30px;
  background-color: #fff;
  color: #555;
  font-family: Pretendard, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
  padding-top: 12px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.footer-logo-img {
  width: 28px;
  height: 28px;
}

.footer-logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #299159;
}

.footer-project p {
  margin: 2px 0;
  font-size: 14px;
  color: #666;
}

.github-icon {
  color: #333;
  margin-top: 4px;
  display: inline-block;
}

.github-icon:hover {
  color: #299159;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  
  gap: 40px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
}

.footer-links a:hover {
  color: #299159;
}

.footer-copy {
  color: #aaa;
}
