.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  padding: 20px 0;
  background-color: #FDFBF4;
  min-height: 100vh;
}

.success-box{
  width: 420px;
  padding: 45px 35px;
  background: #ffffff;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.success-title {
  font-size: 24px;
  font-weight: 700;
  color: #229159;
  margin-top: 10px;
  margin-bottom: 32px;
}

.success-icon {
  width: 80px;
  height: 65px;
}

.success-welcome {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}


.success-subtext {
  font-size: 16px;
  line-height: 1.7;
  color: #767676;
  margin: 0 0 10px 0;
  white-space: pre-line;
  margin-bottom:44px;
}
