.book-info-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  padding-inline: 30px;
}

.book-info-wrapper{
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.book-description {
  padding-block: 30px;
}


.book-cover img {
  width: 180px;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

.book-info-meta {
  height: 260px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-info-meta .book-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.book-author {
  color: #666;
  margin-bottom: 6px;
}

.book-pub {
  color: #888;
  margin-bottom: 10px;
}

.book-rating-action-wrapper .book-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.book-rating-action-wrapper .book-rating .rating-container .star-icon{
  width: 40px;
  height: 40px;
}

.book-actions {
  display: flex;
  gap: 8px;
}

.action-btn {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: 0.2s;
}

.action-btn:hover {
  background: #f2f2f2;
}

.action-btn.active {
  border-color: #299159;
  background: #299159;
  color: #fff;
}

.review-btn {
  background: #299159;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
  transition: 0.2s;
}

.review-btn:hover {
  background: #217c4a;
}
