
.signup-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fbf9f2;
  user-select: none;
}

.signup-email-box {
  width: 420px;
  padding: 45px 35px;
  background: #ffffff;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


.email-icon {
  width: 120px;
  height: auto;
}

.email-text {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 35px;
}

.email-text strong {
  font-weight: 600;
  color: #000;
}

.email-resend {
  margin-top: 20px;
  font-size: 13px;
  color: #666;
}

.resend-link {
  color: #229159;
  font-weight: 500;
  text-decoration: none;
  margin-left: 4px;
}

.resend-link:hover {
  text-decoration: underline;
}

