.btn {
  font-weight: medium;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;

  transition: 
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease,
    transform 0.2s ease;
}

/*초록 배경 */
.btn.filled {
  background-color: #299159;
  color: #fff;
  border-radius: 12px;
}

.btn.filled:hover {
  background-color: #1d7546;
}

.btn:hover {
  transform: scale(1.03);
}

/*초록 테두리 + 둥근 원형 */
.btn.roundOutline {
  background: #fff;
  color: #299159;
  border: 2px solid #299159;
  border-radius: 50px; 
}

/*초록 테두리 + 네모난*/
.btn.squareOutline {
  background: #fff;
  color: #299159;
  border: 2px solid #299159;
  border-radius: 10px; 
  padding: 12px 24px;
}
.btn.small{
  padding-inline: 20px;
  padding-block: 8px;
}
.btn.medium {
  font-size: 16px;
  padding: 10px 20px;
}

.btn.large {
  font-size: 16px;
  padding-inline: 100px;
}

/* 버튼 비활성화 되었을 경우 */
.btn:disabled {
  background-color: #ccc !important; 
  color: #666 !important;           
  cursor: not-allowed;          
  border: none;
}
