* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Pretendard-Medium",  "Pretendard-Bold", "Pretendard-Regular", "GangwonEducationTteontteon";
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("./assets/fonts/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("./assets/fonts/Pretendard-Regular.woff2");
}

@font-face {
    font-family: 'GangwonEducationTteontteon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}