.review-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: all 0.25s ease;
  border: 1px solid rgba(0,0,0,0.05); 
}

.review-card:hover {
  transform: translateY(-5px); /* 살짝 더 올라가면 고급스러움 */
  border-color: #299159;
  box-shadow: 0 8px 20px rgba(0,0,0,0.07);
}


.review-book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 26px 0px;
  border-bottom: 1px solid #f0f0f0;
  background-color: rgb(255, 255, 255, 0.3);
}

.review-book-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  
}

.review-book-title {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review-book-author {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}


.review-body {
  padding: 14px 22px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.review-title {
  font-size: 18px;
  font-family: "Pretendard-Regular";
  margin: 0;
  flex: 1;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;  
}

.review-rating {
  font-size: 14px;
  color: #299159;
  font-weight: bold;
}

.review-user {
  font-size: 13px;
  color: #888;
  margin: 6px 0;
}

.review-preview {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
}

